@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/woff2/PeydaWeb-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/woff2/PeydaWeb-ExtraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-ExtraLight.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/woff2/PeydaWeb-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Light.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/woff2/PeydaWeb-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Medium.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/woff2/PeydaWeb-Semibold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Semibold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/woff2/PeydaWeb-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-ExtraBold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/woff2/PeydaWeb-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Black.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/woff2/PeydaWeb-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/woff2/PeydaWeb-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Regular.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-ExtraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-SemiBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-ExtraBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Regular.woff") format("woff");
}
@font-face {
  font-family: UnisonBoldItalic;
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/Unison-Bold-Italic.otf") format("opentype");
}

@font-face {
  font-family: UnisonBold;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Unison-Bold.otf") format("opentype");
}

@font-face {
  font-family: UnisonLightItalic;
  font-style: italic;
  font-weight: light;
  src: url("./fonts/Unison-Light-Italic.otf") format("opentype");
}

@font-face {
  font-family: UnisonLight;
  font-style: normal;
  font-weight: light;
  src: url("./fonts/Unison-Light.otf") format("opentype");
}

body {
  font-family: PeydaWeb;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-1rem);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

.animate-fade-out-down {
  animation: fadeOutDown 0.1s ease-out forwards;
}

@keyframes blurIn {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(10px);
  }
}

@keyframes blurOut {
  from {
    backdrop-filter: blur(10px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

.animate-blur-in {
  animation: blurIn 0.5s ease-in-out forwards;
}

.animate-blur-out {
  animation: blurOut 0.2s ease-in-out forwards;
}

.unison-bold-italic {
  font-family: UnisonBoldItalic;
}

.unison-bold {
  font-family: UnisonBold;
}

.unison-light-italic {
  font-family: UnisonLightItalic;
}

.unison-light {
  font-family: UnisonLight;
}
.transition-max-height {
  transition: max-height 0.3s ease-in-out;
}

/* styles/globals.css */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
